body {
    margin: 0;
    background: #F5F5EB;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.accordeon {
    display: flex;
    width: calc(100% - 3rem);
    margin: 0 1.5rem;
    flex-direction: column;
}
.item-box {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    border-top: 1px solid #e1e1e1;
}
.item-box input {
    display: none;
}
.item-box label {
    display: flex;
    flex-grow: 2;
    height: 50px;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.item-box .icon {
    display: flex;
    width: 50px;
    height: 50px;
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
}
.item-box .icon img {
    width: 20px;
    height: 20px;
    transition: all 0.15s ease;
}
.item-box input:checked ~ .icon img {
    transform: rotate(45deg);
}
.box-content {
    display: none;
    width: 100%;
    padding-bottom: 1.5rem;
    justify-content: center;
    align-items: flex-start;
    transition: all 0.15s ease;
}
.item-box input:checked ~ .box-content {
    display: flex;
}
.box-content img {
    width: 100px;
    height: 100px;
}


@media (min-width: 768px) and (max-width: 1199px) {
    .page-wrapper {
        display: flex;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
    .box-content img {
        width: 250px;
        height: 250px;
    }
}

@media (min-width: 1200px) {
    .page-wrapper {
        display: flex;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
    .accordeon {
        width: 640px;
        margin: 0;
    }
    .box-content img {
        width: 250px;
        height: 250px;
    }
}